[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
  {red_db,[
  				{port,6379},
  				{max_db,64},
  				{max_worker,1000},
  				{acceptor_worker,16},
  				{table_timeout,30000},
  				{client_timeout,400000}

  			]},
  {mnesia,[
  	{dir,"/var/lib/red_db/"},
    {dc_dump_limit,400},
    {dump_log_write_threshold,1000}
  	]}
].

